/* .main {
    padding: 10px;
    background: orange;
}

.block {
    width: 30px;
    height: 30px;
    background: bisque;
    border: 1px solid black;
    float: left;
}

.main::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

p::first-letter {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

p::first-line {
    background: green;
} */

p::before {
    content: "[_";
    color: #ff00ea;
    font-weight: 700;
}

p::after {
    content: "_]";
    color: #ff00ea;
    font-weight: 700;
    /* display: block;
    text-align: center;
    color: orange; */
}

.sq {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

.sq::before {
    content: "";
    width: 20px;
    height: 20px;
    background: red;
     /* display: block; */
     position: absolute;
     top: 0;
     left: 0;
}

.sq::after {
    content: "";
    width: 20px;
    height: 20px;
    background: red;
     /* display: block; */
     position: absolute;
     bottom: 0;
     right: 0;
}